.ground {
  position: absolute;
  left: -45px;
  top: -22.5px;
  width: 120%;

  .tile {
    position: absolute;
    width: 90px;
    height: 45px;
    float: left;

    background: url("../../sprite.png");
    background-size: 420px;
    background-position: -180px -72px;
    filter: brightness(0.7);

    &.grass {
      filter: initial;
    }
  }
}
