@keyframes pulse-green {
  0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }
  
  70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
  }
  
  100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}

@keyframes pulse-red {
  0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }
  
  70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }
  
  100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

.mini-game {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);

  .enemy, .target {
    position: absolute;
    
    background: rgba(0, 0, 0, 0.8);
    border: 2px solid white;
    margin-top: -10px;
    color: white;
    padding: 10px;
  }

  .enemy {
    z-index: 1;

    &.collides {
      border: 2px solid rgba(255, 177, 66, 1);
      color: rgba(255, 177, 66, 1);
    }

    &.contains {
      border: 2px solid rgba(51, 217, 178, 1);
      color: rgba(51, 217, 178, 1);
    }
    &.missed {
      border: 2px solid rgba(255, 82, 82, 1);
      color: rgba(255, 82, 82, 1);
      animation: pulse-red 2s infinite;
    }
    &.destroyed {
      border: 2px solid rgba(51, 217, 178, 1);
      color: rgba(51, 217, 178, 1);
      
      animation: pulse-green 2s infinite;
    }
  }
  
  .target {
    top: 70%;
    left: 50%;
    height: 50px;
    width: 50px;
    margin-left: -26px;
    margin-top: -25px;
  }

  .score {
    position: absolute;
    bottom: -80px;
    margin-left: 50px;
  }

  .start-mini-game {
    margin-left: 20px;
    margin-top: 60px;
  }
}
