.activity {
    position: absolute;
    
    .host {
        font-size: 50px;
    }

&.food {
    top: 400px;
    left: 300px;
}

&.home {
    top: 300px;
    left: 500px;
}

    &.work {
        top: 200px;
        left: 200px;
    }

    &.workout {
        top: 100px;
        left: 400px;
    }

    ul {
        li {
            &.current {
                color: #555;
            }

            &.disabled {
                color: red;
            }
        }
    }
}