.activity {
    position: absolute;
    
    .host {
        font-size: 50px;
    }

    &.work {
        top: 200px;
        left: 200px;
    }

    &.workout {
        top: 100px;
        left: 400px;
    }
}