html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: cornflowerblue;
}

#game {
  margin: 10px;
  position: relative;
}

.stats {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}

.stats > div {
  border: 1px solid black;
  margin-left: 10px;
  display: flex;
}

.stats .icon {
  border-right: 1px solid black;
}

.stats .icon,
.stats .value {
  padding: 10px;
  display: inline-block;
  height:24px;
  line-height: 24px;
}

.time {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.time .day {
  margin-right: 10px;
}

ul.work {
  position: relative;
  top:200px;
}

ul.workout {
  position: relative;
  left: 400px;
}

ul.activity .current {
  color: grey;
}

ul.activity.disabled {
  font-size:50px;
}