@keyframes player-walk {
  100% {
    background-position-x: -420px;
  }
}

.player {
  position: absolute;
  background: url("../sprite.png");
  background-size: 420px;
  width: 33px;
  height: 46px;
  background-position: -354px -6px;
  transform: scale(0.7);

  &.walk {
    animation: player-walk 0.4s steps(2) infinite;
  }

  &.inverse {
    transform: scaleY(0.7) scaleX(-0.7);
  }

  &.dressed {
    background-position-y: -65px;
  }
}
